@import "bootstrap";

:root {
  --base-color: #f6f1e9;
  --low-color: #cacaca;
  --mid-color: #e5ba73;
  --accent-color: #4f200d;
}

* {
  font-family: Montserrat;
}

.page {
  position: relative;
  min-height: 100vh;
}
.navigation {
  position: relative;
  background-color: var(--low-color);
  color: var(--accent-color);
  z-index: 1000;
  min-height: 8vh;
  width: 100vw;
}

a {
  color: var(--accent-color);
  text-align: center;
}

.logo {
  height: 3em;
  width: 3em;
  object-fit: "cover";
  border: 2px solid var(--accent-color);
  border-radius: 10px;
}

.hamburger {
  background-color: var(--mid-color);
  border: 2px solid var(--accent-color);
}

.content {
  padding-top: 12vh;
  padding-bottom: 2rem;
  min-height: 92vh;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--base-color);
}

.front_page_carousel {
  display: grid;
  height: 650px;
  width: 75%;
  margin: auto;
}

.greeting {
  text-align: center;
  font-weight: bold;
  color: var(--accent-color);
}

p {
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.apartments {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
}

.card {
  border-radius: 10px;
}

h1 {
  padding: 10px;
  text-align: center;
}

.home-link {
  text-align: center;
}
